basic/rag.db/chroma.sqlite3
basic/rag.db/308a68ee-9a91-4fbb-a81f-1e7b3fa421fd/data_level0.bin
basic/rag.db/308a68ee-9a91-4fbb-a81f-1e7b3fa421fd/header.bin
basic/rag.db/308a68ee-9a91-4fbb-a81f-1e7b3fa421fd/length.bin
basic/rag.db/308a68ee-9a91-4fbb-a81f-1e7b3fa421fd/link_lists.bin
second/models/CACHEDIR.TAG
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/adapter_config.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/added_tokens.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/chat_template.jinja
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/modules.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/preprocessor_config.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/processor_config.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/.no_exist/c5ee24cb16019beea0893ab7796b1df96625c6b8/video_preprocessor_config.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/refs/main
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/snapshots/c5ee24cb16019beea0893ab7796b1df96625c6b8/config.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/snapshots/c5ee24cb16019beea0893ab7796b1df96625c6b8/model.safetensors
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/snapshots/c5ee24cb16019beea0893ab7796b1df96625c6b8/special_tokens_map.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/snapshots/c5ee24cb16019beea0893ab7796b1df96625c6b8/tokenizer_config.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/snapshots/c5ee24cb16019beea0893ab7796b1df96625c6b8/tokenizer.json
second/models/models--cross-encoder--ms-marco-MiniLM-L-6-v2/snapshots/c5ee24cb16019beea0893ab7796b1df96625c6b8/vocab.txt
second/rag.db/chroma.sqlite3
second/rag.db/9aba8c95-8eab-4edf-b329-c678d9211b3b/data_level0.bin
second/rag.db/9aba8c95-8eab-4edf-b329-c678d9211b3b/header.bin
second/rag.db/9aba8c95-8eab-4edf-b329-c678d9211b3b/length.bin
second/rag.db/9aba8c95-8eab-4edf-b329-c678d9211b3b/link_lists.bin
second/rag.db.old/chroma.sqlite3
second/rag.db.old/301f7568-35be-4b8a-8de8-cd679c341740/data_level0.bin
second/rag.db.old/301f7568-35be-4b8a-8de8-cd679c341740/header.bin
second/rag.db.old/301f7568-35be-4b8a-8de8-cd679c341740/length.bin
second/rag.db.old/301f7568-35be-4b8a-8de8-cd679c341740/link_lists.bin
second/bm25.pkl
second/result.log
